.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Light {
  color: white;
}

.Hero {
  background-image: url('./images/herobackground.jpg');
  min-width: 100%;
  min-height: 100%;
}

.LightBlue {
  background-color: rgb(76, 201, 240);
}

.Purple {
  background-color: rgb(114, 9, 183);
}

.Pink {
  background-color: rgb(247, 37, 133);
}

.DarkBlue {
  background-color: rgb(58, 12, 163) !important;
}

.Blue {
  background-color: rgb(67, 97, 238);
}

.footer {
  position: -ms-page;
  bottom: 0;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.Active {
  color: black !important;
  background-color: azure;
  border-radius: 16px;
  animation: fadeIn 1s;
}

.ActiveLink::hover {
  color: black !important;
  background-color: azure !important;
  border-radius: 16px !important;
  animation: fadeIn 1s !important;
}

.Rounded {
  border-radius: 16px;
}

.RoundedLess {
  border-radius: 12px;
}

.card {
  background-color: rgb(247, 37, 133) !important;
}

.border-primary {
  background-color: rgb(58, 12, 163);
}

.FillWidth {
  max-width: 95%;
  height: 300px;
  border-radius: 24px;
}

.nodecor {
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0 !important;
  }

  100% {
    opacity: 1 !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}